@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="hero">
    <div class="row" id="logo">
        <img class="block-center" src="https://www.tradegecko.com/hubfs/marketing_website_v3/campaigns/No%20Founder%20Gets%20Left%20Behind/tradegecko-logo-light.svg" alt="Order Management App" width="23%" />
    </div>
    <div class="row" id="hero-heading">
        <h1> Order Management Software </h1>
        <h2> We automate your supply chain ecosystem, so you can focus on growth </h2>
    </div>
    <div class="row">
        <button type="button" class="btn block-center" id="hero-btn"> Register Now </button>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <img class="block-center" src="https://www.tradegecko.com/hs-fs/hubfs/marketing_website_v3/tradegecko-inventory-mgmt-2019-4.png?width=800&name=tradegecko-inventory-mgmt-2019-4.png" alt="Order Management App's dashboard demonstration" width="80%" />
    </div>
    <div class="row margin-top-bottom">
        <img class="block-center" src="https://www.tradegecko.com/hs-fs/hubfs/marketing_website_v3/homepage/ratings-sept-2019-1332px.png?width=666&name=ratings-sept-2019-1332px.png" />
    </div>
    <div class="row qualities-row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="jumbotron">
                <img src="http://www.w3.org/2000/svg" alt="" />
                <h4> Order Management System </h4>
                <p> Keep track of your products as you sell, manufacture and restock across multiple warehouse locations and channels. </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="jumbotron">
                <img src="http://www.w3.org/2000/svg" alt="" />
                <h4> Order and Fullfilment </h4>
                <p> Sync orders from multiple sales channels with inventory and accounting to boost business efficiency. </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="jumbotron">
                <img src="http://www.w3.org/2000/svg" alt="" />
                <h4> Relationship </h4>
                <p> Keep all your customer and supplier data in one place, complete with purchase histories and customer-specific insights. </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="jumbotron">
                <img src="http://www.w3.org/2000/svg" alt="" />
                <h4> Intelligence </h4>
                <p> Generate accurate sales, inventory, business reports and forecasts for better business decisions, all in real-time. </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="sign-up-banner">
    <div class="row block-center">
        <h1> Sign up for free and use our service </h1>
    </div>
    <div class="row">
        <button type="button" class="btn block-center" id="hero-btn"> Sign up Now </button>
    </div>
</div>

<div class="container-fluid" id="again-qualities">
    <div class="row padding-top-bottom">
        <div class="col-lg-6 col-md-12">
            <img class="rounded-circle" src="https://www.tradegecko.com/hs-fs/hubfs/marketing_website_v3/product_overview/tradegecko_overview_inventory_detail_v1_2x.png?width=350&name=tradegecko_overview_inventory_detail_v1_2x.png" alt="Picture showing dashboard" />
        </div>
        <div class="col-lg-6 col-md-12 my-auto">
            <h4> Complete Order Management System </h4>
            <p> TradeGecko gives you detailed up-to-date visibility and control over your inventory. Create purchase orders, backorders, stock takes and adjustments, plus easily track pack sizes, batches and expiry dates across multiple warehouses. </p>
        </div>
    </div>
    <div class="row padding-top-bottom">
        <div class="col-lg-6 col-md-12 my-auto">
            <h4> Complete Order Management System </h4>
            <p> TradeGecko gives you detailed up-to-date visibility and control over your inventory. Create purchase orders, backorders, stock takes and adjustments, plus easily track pack sizes, batches and expiry dates across multiple warehouses. </p>
        </div>
        <div class="col-lg-6 col-md-12">
            <img class="rounded-circle" src="https://www.tradegecko.com/hs-fs/hubfs/marketing_website_v3/product_overview/tradegecko_overview_orders_detail_v1_2x.png?width=350&name=tradegecko_overview_orders_detail_v1_2x.png" alt="Picture showing dashboard" />
        </div>
    </div>
    <div class="row padding-top-bottom" style="padding-bottom: 80px;">
        <div class="col-lg-6 col-md-12">
            <img class="rounded-circle" src="https://www.tradegecko.com/hs-fs/hubfs/marketing_website_v3/reporting/tradegecko_reporting_demandforecasting_v1_2x.png?width=350&name=tradegecko_reporting_demandforecasting_v1_2x.png" alt="Picture showing dashboard" />
        </div>
        <div class="col-lg-6 col-md-12 my-auto">
            <h4> Complete Order Management System </h4>
            <p> TradeGecko gives you detailed up-to-date visibility and control over your inventory. Create purchase orders, backorders, stock takes and adjustments, plus easily track pack sizes, batches and expiry dates across multiple warehouses. </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1> Connect with the best online apps... </h1>
    </div>
    <div class="row">

    </div>
</div>