/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Reusable classes
------------------------------------*/

.block-center {
    margin: 0 auto;
}

.margin-top-bottom {
    margin-top: 60px;
    margin-bottom: 60px;
}

.padding-top-bottom {
    padding-top: 60px;
}

.qualities-row {
    max-width: 1200px;
    margin: 0 auto;
}

/* Website design 
------------------------------------*/

h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    color: grey;
}

#hero {
    margin-top: 30px;
    margin-bottom: 60px;
}

#logo {
    margin-bottom: 30px;
}

#hero-heading {
    width: 90%;
    margin: 0 auto;
}

#hero-heading h1 {
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600;
}

#hero-heading h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    padding-top: 10px;
}

#hero-btn {
    margin-top: 30px;
    background-color: #70cf32;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: 500;
    color: white;    
}

.jumbotron {
    padding: 2rem 0.6rem;
    background-color: white;
}

#sign-up-banner {
    padding: 4em 1em;
    background-color: #0e2168;
}

#sign-up-banner h1 {
    margin: 0 auto;
    color: white;
}

#again-qualities {
    background: #f4f6fa;
}

#again-qualities .row {
    max-width: 950px;
    margin: 0 auto;
}


